/*  -= BASICA TEMPLATE STYLE =-  */
body {
    font-family: 'Lato', sans-serif;
}


/*  -= HEADER SECTION STYLING =-  */

/* Height of the top bar */
#header-topbar {
    height: 40px;
}

/* Size of the logo located in header top bar */
#header-logo img {
    width: 95px;
    height: 20px;
}

/* Submenu and submenu down arrow styling */
.has-submenu {
    position:relative; /* down arrow on menu element */
}

/* Make room for down arrow to be added to the menu element */
a.has-submenu  {
    padding-right: 30px !important;
}

/* Down arrow on the menu element */
.has-submenu::after {
    content: "\e5c5";
    font-family: 'Material Icons';
    font-size: 24px;
    position: absolute;
    bottom: 2px;
    right: 5px;
}

/* Clear top border on submenu content element */
.submenu-content {
    border-top: none !important;
}